<form>
  <div class="form-row">
    <div class="col-3">
      <div class="form-group">
          <label for="txtUserName">Username</label>
          <input type="text" name="txtUserName" class="form-control" placeholder="Username">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
          <label for="txtFirstName">First Name</label>
          <input type="text" name="txtFirstName" class="form-control" placeholder="First Name">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
          <label for="txtLastName">Last Name</label>
          <input type="text" name="txtLastName" class="form-control" placeholder="Last Name">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
          <label for="txtUserEmail">Email</label>
          <input type="text" name="txtUserEmail" class="form-control" placeholder="Email">
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right" type="submit">Search</button>
  </form>
