<div class="row">
  <div class="col-12">
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="col-4">
            <div class="form-group">
                <label for="barcode">Barcode</label>
                <input type="text" name="barcode" class="form-control" placeholder="Barcode">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
                <label for="barcode">Supplier</label>
                <input type="text" name="barcode" class="form-control" placeholder="Supplier">
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-right" type="submit">Filter</button>
      </form>
    </div>
  </div>
</div>
