<!-- <div class="card">
  <div class="card-header"> -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4><div class="card-title">User Information</div></h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form-row">
            <div  class="col-12">
              <div class="form-group row">
                <label for="txtUsername" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtUsername" placeholder="Username">
                  </div>
              </div>
              <div class="form-group row">
                <label for="txtFirtName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtFirtName" placeholder="First Name">
                  </div>
              </div>
              <div class="form-group row">
                <label for="txtLastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtLastName" placeholder="Last Name">
                  </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button
          type="submit"
          class="btn btn-success float-right">Submit
            <!-- {{ isEdit ? 'Update' : 'Submit'}} -->
        </button>
        <button
          type="button"
          class="btn btn-secondary float-left">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
  <!-- </div>
</div> -->

