<form  (ngSubmit)="onSubmit(f)" #f="ngForm">

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="txtBarcode" class="control-label">Barcode</label>
        <input type="text" name="txtBarcode" class="form-control" [class.is-valid]="txtBarcode.valid" #txtBarcode="ngModel" [ngModel]="product.barcode" name="txtBarcode" required>
        <div class="invalid" *ngIf="txtBarcode.touched && txtBarcode.invalid">
          Barcode is required
        </div>
      </div>
      <div class="form-group">
        <label for="txtName" class="control-label">Name</label>
        <input type="text" name="txtName" class="form-control" #txtName="ngModel" [ngModel]="product.name" name="txtName" required>
        <div class="alert alert-danger" *ngIf="txtName.touched && txtName.invalid">
            Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="txaDescription" class="control-label">Description</label>
        <textarea name="description" class="form-control" id="" cols="10" rows="5" #txaDescription="ngModel" [ngModel]="product.description" name="txaDescription"></textarea>
      </div>
      <div class="row">
        <div class="card-body">
          <button
            [disabled]="f.invalid"
            type="submit"
            class="btn btn-success float-right">Submit
              <!-- {{ isEdit ? 'Update' : 'Submit'}} -->
          </button>
          <button
            type="button"
            class="btn btn-secondary float-left" (click)="onClear()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
