<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Manage Supplier</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-primary">
      Add Supplier
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div>
      <form>
        <div class="form-row">
          <div class="col-4">
            <div class="form-group">
                <label for="barcode">Barcode</label>
                <input type="text" name="barcode" class="form-control" placeholder="Barcode">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
