<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Manage Supplier</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-sm btn-outline-primary">
      Add Supplier
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form>
      <div class="form-row">
        <div class="col-6">
          <div class="form-group">
              <label for="txtSupplierName">Supplier Name</label>
              <input type="text" name="txtSupplierName" class="form-control" placeholder="Supplier Name">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
              <label for="txtSupplierEmail">Supplier Email</label>
              <input type="text" name="txtSupplierEmail" class="form-control" placeholder="Supplier Email">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Company Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
